* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.fa-circle {
  font-size: 0.5rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.conditions-section {
  background: lightblue;
}

.text {
  margin: 1rem;
  padding: 1rem;
}

.code {
  margin: 1rem;
  padding: 1rem;
  background: lightgray;
}

@media screen and (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
