* {
    margin : 0;
    padding: 0;
}

@font-face {
    font-family: "beriot-bold";
    src: url(fonts/beriot-bold-condensed.ttf);
}

@font-face {
    font-family: "beriot";
    src: url(fonts/Beriot-Light.ttf);
}

@font-face {
    font-family: "noyh";
    src: url(fonts/noyh-slim-bold.otf);
}

@font-face {
    font-family: "open";
    src: url(fonts/open-sans-italic.ttf);
}


header {
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

header img {
    width: 10vw;
}


ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

li {
    list-style-type: none;
    width: 25vw;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 0.8rem;
    font-family: "beriot";
}

li a {
    text-decoration: none;
    color: white;    
}


.black {
    background: #231f20;
}

.blue { 
    background: #1393a3;
}

.turquoise {
    background: #13b8be;
}

.soft-blue {
    background: #38d2d7;
}





